* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;;
    font-size: 10px;
}

.nav {
    width: 100%;
    position: fixed;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-logo {
    fill: green;
    width: 3rem;
    height: 3rem;
    margin: 1rem 0;
    font-size: 3rem;
}

.nav-logo:hover {
    fill: black;
}

/*.nav-logo-name {
    margin: 0;
    color: green;
    font-size: 3rem;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-decoration: none;
*/

.nav-logo-name:hover {
    color: black;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    width: 100%;
    margin: 1rem;
}

.nav-list-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: green;
}

.nav-link:hover{
    color: black;
}

.a {
    width: 100vw;
    height: 500vh;
    background: black;
}