html, body {
  font-family: 'Roboto', sans-serif;
}

/*sekcja Roberta*/

.navbar-inverse {
  background: #85bb65;
  border: green;
}

.navbar-inverse
.navbar-brand {
  color: black;
}

.navbar-inverse
.navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: white;
}

/* koniec sekcji Roberta*/

/*sekcja Janka*/

header {
  background-image: url(zajawka2.jpg);
  background-size: cover;
  height: 100vh;
  opacity: 0.1;
}
.blank {
  background-image: url(zajawka2.jpg);
  background-size: cover;
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 0.2;
}

.zajawka-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zajawka-nazwa {
  display: inline-block;
  font-family: 'Raleway',sans-serif;
  font-size:25vh;
  font-weight:bold;
  color: green;
}
.zajawka-obrazek{
  width: auto;
  height: 20vh;
}
.zajawka-opis {
  font-family: 'Roboto', sans-serif;
  color: green;
  font-size: 3vh;
  font-weight: bold;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
.btn-primary-zaj {
color: white;
  position: relative;
background-image: linear-gradient(green,lightgreen);
border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
}
.btn-primary-zaj:after{
content: '';
position: absolute;
top: 2px;
left: 2px;
width: calc(100% - 4px);
height: 50%;
background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}
/*.btn-primary-zaj:hover{*/
/*background: linear-gradient(#073,#0fa)*/
/*}*/
/*.btn-group-lg>.btn, .btn-lg{*/
/*font-size: 50px;*/
/*font-weight: bold;*/
/*}*/

/*.zaj-btn{*/
/*padding-top: 2%;*/
/*text-align: center;*/
/*}*/




/*}*/
/*.jumbotron-zaj p{*/
  /*font-size: 5vh;*/
/*}*/
/*.zaj-row{*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*flex-wrap: wrap;*/


/*}*/
/*.zajawka-zaj{*/
    /*height: 100vh;*/
    /*!*background-image: url(zajawka2.jpg);*!*/
    /*background-size: cover;*/
  /*padding: 0;*/
    /*opacity: 0.9;*/
/*}*/




/*.obrazek{*/
    /*width: auto;*/
    /*height: 25vh;*/
    /*margin-top: 15%;*/
    /*padding: 0;*/
    /*fill: green;*/
  /*z-index: 1;*/
/*}*/


/*.nazwa-zaj{*/
    /*font-family: 'Raleway',sans-serif;*/
    /*font-size:25vh;*/
    /*font-weight:bold;*/
    /*float:left;*/
    /*color: green;*/
    /*margin-top: 15%;*/
    /*margin-left: 0px;*/
    /*margin-bottom: 0px;*/
  /*white-space: nowrap;*/
  /*z-index: 1;*/
  /*text-align: center;*/



/*}*/
/*.opis-zaj {*/
  /*font-family: 'Roboto', sans-serif;*/
  /*color: green;*/
  /*margin-top: 0px;*/
  /*!* margin-left:450px;*!*/
  /*padding-top: 1vh;*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
  /*z-index: 1;*/
/*}*/

/*.btn-primary-zaj {*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*color: white;*/
  /*background-image: linear-gradient(green,lightgreen);*/
  /*border-radius: 3px;*/
  /*box-shadow: 0px 1px 4px -2px #333;*/
  /*text-shadow: 0px -1px #333;*/
/*}*/
/*.btn-primary-zaj:after{*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 2px;*/
  /*left: 2px;*/
  /*width: calc(100% - 4px);*/
  /*height: 50%;*/
  /*background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));*/
/*}*/
/*.btn-primary-zaj:hover{*/
  /*background: linear-gradient(#073,#0fa)*/
/*}*/
/*.btn-group-lg>.btn, .btn-lg{*/
  /*font-size: 50px;*/
  /*font-weight: bold;*/
/*}*/

/*.zaj-btn{*/
  /*padding-top: 2%;*/
  /*text-align: center;*/
/*}*/


/*@media screen and (max-width:761px) {*/

  /*.obrazek {*/

    /*width: auto;*/
    /*height: 10vh;*/
    /*margin-top: 35%*/

  /*}*/

  /*.jumbotron-zaj p{*/
    /*font-size: 3vh;*/
  /*}*/

  /*.nazwa-zaj{*/
    /*margin-top: 35%;*/
    /*font-size: 10vh;*/

  /*}*/
  /*.btn-group-lg>.btn, .btn-lg{*/
    /*font-size: 20px;*/

  /*}*/
/*}*/
/*@media screen and (max-width:313px){*/
  /*.nazwa-zaj{*/
    /*margin-top: 0;*/


  /*}*/

}


/*koniec sekcji Janka*/

/*sekcja Bartka*/
.functions {
    min-height: 50vh;
    position: relative;
}

.func-img-background {
  background-image: url("zkvbm2_dp84-didier-weemaels.jpg");
  background-size: cover;
  opacity: 0.2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.func-1,
.func-2,
.func-3,
.func-4 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.func-1-icon,
.func-2-icon,
.func-3-icon,
.func-4-icon {
    width: 12vh;
    height: auto;
}

.func-1-title,
.func-2-title,
.func-3-title,
.func-4-title {
  text-align: center;
  font-size: 2.6rem;
}

.func-1-par,
.func-2-par,
.func-3-par,
.func-4-par {
  align-items: center;
  font-size: 2rem;
}


/*koniec sekcji Bartka*/

/*Sekcja Tomka */



.form {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
}


.div1 {
    display: flex;
    width: 50%;
    height: 50vh;
    margin-bottom: 10vh;
}

img {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.div2 {
    width: 50%;
    height: 50vh;
    margin-bottom: 10vh;
}


.div1 {
    margin-left: 10%;
}


.div2 {
    margin-left: 30px;
    margin-right: 10%;
}

.info {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    font-weight: 300;
    color: green;
    background-color: #85bb65;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    padding-top: 20px;

}

.div2 p {
    text-align: justify;
}

.div2 .newsletter input {

    margin: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.5rem;
}

button[name="submit"] {

    width: 120px;
    height: 30px;
    font-size: 1.5rem;
    margin-left: 20px;
}

input:valid{
    border: 2px solid green;
}


input:invalid {

    border: 2px solid red;
}

.zgoda {
    margin-left: 20px;

}

.container {
    width: 100%;
    height: 100vh;
}

#ptaszek {
    margin: 0;
    width: 20px;
    height: 20px;
}

/*koniec sekcji Tomka*/

/*sekcja Roberta*/
.team {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}

.team-title {
  text-align: center;
  color: green;
  font-weight: 900;
  font-size: 10rem;
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-member {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: #85bb65;
  padding-top: 20px;
}

.team-member-photo{
  border: 2px solid green;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

.team-member-link {
  color: green;
  text-decoration: none;
}

.team-member-link:hover
.team-member-name {
  color: white;
}

.team-member-icon {
  width: 5rem;
  height: 5rem;
}

.team-member-linkedin {
  fill: #0077b5;
}

.team-member-github:hover,
.team-member-linkedin:hover {
  fill: white;
}

/*koniec sekcji Roberta*/