html, body {
  font-family: 'Roboto', sans-serif;
}

/*sekcja Roberta*/

.navbar-inverse {
  background: #85bb65;
  border: green;
}

.navbar-inverse
.navbar-brand {
  color: black;
}

.navbar-inverse
.navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: white;
}

/* koniec sekcji Roberta*/

/*sekcja Janka*/

.zajawka-zaj{
    height: 100vh;
    width: 100%;
    background-image: url(zajawka2.jpg);
    background-size: cover;
    opacity: 0.9;


}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 300px;
    padding-left: 0px;



}
.obrazek{
    width: 200px;
    height: auto;
    margin-right: 0px;
    padding: 0px;
    fill: green;
}
.nazwa-zaj{
    font-family: 'Raleway',sans-serif;
    font-size:150px;
    float:left;
    color: green;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.opis-zaj{
    font-family: 'Roboto',sans-serif;
    color: green;
    font-size: 30px;
    margin-top: 0px;
    margin-left:450px;
    padding-top: 10px;
}
.link{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: green;
    font-weight: bold;
    font-size: 40px;
    padding: 10px;
    background-color: #85bb65;
    border-radius:5px;
    margin-left: 800px;
    line-height: 150px;
}
.link:hover{
    color: white;
}
/*koniec sekcji Janka*/

/*sekcja Bartka*/
.functions {
    height: 100vh;
}

.func-1,
.func-2,
.func-3,
.func-4 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.func-1-icon,
.func-2-icon,
.func-3-icon,
.func-4-icon {
    width: 12vh;
    height: auto;
}

.func-1-title,
.func-2-title,
.func-3-title,
.func-4-title {
  text-align: center;
  font-size: 2.6rem;
}

.func-1-par,
.func-2-par,
.func-3-par,
.func-4-par {
  align-items: center;
  font-size: 2rem;
}


/*koniec sekcji Bartka*/

/*Sekcja Tomka */



.form {

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.info {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    font-weight: 300;
    color: green;
    background-color: #85bb65;
    width: 100%;
    height: 60px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    padding-top: 20px;
}


.div2 p {
    text-align: justify;
}

.div2 .newsletter input {

    margin: 20px;
    width: 300px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.5rem;
}

button[name="submit"] {

    width: 120px;
    height: 30px;
    font-size: 1.5rem;
    margin-left: 20px;
}

input:valid{
    border: 2px solid green;
}


input:invalid {

    border: 2px solid red;
}

.zgoda {
    margin-left: 20px;

}

#ptaszek {
    margin: 0;
    width: 20px;
    height: 20px;
}

/*koniec sekcji Tomka*/

/*sekcja Roberta*/
.team {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}

.team-title {
  text-align: center;
  color: green;
  font-weight: 900;
  font-size: 10rem;
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-member {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background: #85bb65;
  padding-top: 20px;
}

.team-member-photo{
  border: 2px solid green;
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

.team-member-link {
  color: green;
  text-decoration: none;
}

.team-member-link:hover
.team-member-name {
  color: white;
}

.team-member-icon {
  width: 5rem;
  height: 5rem;
}

.team-member-linkedin {
  fill: #0077b5;
}

.team-member-github:hover,
.team-member-linkedin:hover {
  fill: white;
}

/*koniec sekcji Roberta*/

@media screen and (max-width: 991px) {
   .div1 {
     display: none;
   }
  .div2 {
    background-image: url("newsletter.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 0;

  }
  .border {
    background-color: rgba(201,201, 201, 0.5);
  }
}