html, body {
  font-family: 'Roboto', sans-serif;
}

/*sekcja Roberta*/

.navbar-inverse {
  background: #85bb65;
  border: green;
}

.navbar-inverse
.navbar-brand {
  color: black;
}

.navbar-inverse
.navbar-nav > li > a {
  color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: white;
}

/* koniec sekcji Roberta*/

/*sekcja Janka*/

header {
  background-attachment: fixed; /* potrzebne do paralaxy*/
  background-image: url(zajawka2.jpg);
  background-size: cover;
  background-position: top; /* potrzebne do paralaxy*/
  height: 100vh;

}

.zajawka-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.zajawka-nazwa{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 20vmin;
  font-weight: bold;
  color: green;
}

.zajawka-obrazek{
  width: auto;
  height: 17vmin;
}

.zajawka-opis {
  font-family: 'Roboto', sans-serif;
  color: green;
  font-size: 3vmin;
  font-weight: bold;
}

.logo {
  white-space: nowrap;
}

.btn-primary-zaj {
  color: white;
  position: relative;
  background-image: linear-gradient(green, lightgreen);
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
  margin-top: 50px;
}

.btn-primary-zaj:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
}

.btn-primary-zaj:hover {
  background: linear-gradient(#073, #0fa)
}

.btn-duzy {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {

  .zajawka-nazwa {
    font-size: 15vmin;
  }

  .zajawka-obrazek {

    height: 12vmin;
  }

  .logo {
    white-space: normal;
  }
  .btn-group-lg > .btn, .btn-lg {
    font-size: 20px;
  }

}
@media screen and (max-width: 640px){
  .zajawka-nazwa {
    font-size: 10vmin;
  }

  .zajawka-obrazek {

    height: 8vmin;
  }

}

/*koniec sekcji Janka*/

/*sekcja Bartka*/
.functions {
  min-height: 50vh;
  position: relative;
}

.animated {
  animation-duration: 6s;
}

.func-img-background {
  background-image: url("zkvbm2_dp84-didier-weemaels.jpg");
  background-size: cover;
  opacity: 0.2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}

.func-1,
.func-2,
.func-3,
.func-4 {
  display: flex;
  flex-direction: column;
  height: 50vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.func-1-icon,
.func-2-icon,
.func-3-icon,
.func-4-icon {
  width: 12vh;
  height: auto;
}

.func-1-title,
.func-2-title,
.func-3-title,
.func-4-title {
  text-align: center;
  font-size: 2.6rem;
}

.func-1-par,
.func-2-par,
.func-3-par,
.func-4-par {
  align-items: center;
  font-size: 2rem;
}


/*koniec sekcji Bartka*/

/*Sekcja Tomka */

.form {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  position: relative;

}

.stamp {
  max-width: 100%;
  height: auto;

}

.control-label {
  font-size: larger;
}

.form-group > span {
  padding-left: 150px;
}

.border h1 {
  text-align: center;
}

.well {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0;
  padding-top: 0;
}

.div1 {
  padding-right: 0;
  padding-left: 0;
}

.additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("additional.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.addiitional__form{
  display: flex;
  flex-direction: row;

}
.additional__items1 {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.additional__items2 {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 5%;
}
.additional__items-func {
  flex-direction: row;
  font-size: 2rem;
  color: white;
  justify-content: space-between;
}

.additional__items-func p{
 font-size: 2.4rem;
  padding: 10px;
}
.items__icons {
  display: flex;
  flex-direction: row;
}

.item__icons-mod {
  width: 98px;
  max-height: 96px;
}

.addiitional__form__why h1 {
  color: white;
  font-size: 5rem;
}

#game {
  display: none;
}
#gameover {
  display: none;
}


/*koniec sekcji Tomka*/

/*sekcja Roberta*/

.team {
  background: url(123.jpg);
  background-size: cover;
}

.team-member-photo {
  filter: grayscale(1);
  margin: 50px auto auto;
}

.team-member-name {
  color: black;
  font-weight: 900;
}

.fa-home {
  color: black;
}

.fa-github {
  color: #6e5494;
  margin: auto 10px;
}

.fa-linkedin {
  color: #0077b5;
}

.team-member-icon {
  transition-duration: 0.3s;
  margin-bottom: 50px;
}

.team-member-icon:hover {
  transform: scale(1.3);
}

/*koniec sekcji Roberta*/

/* sekcja gry */

.game {
  display: none;
}

#game{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

}
.gameover{
  position: absolute;
  width: 100%;
  height: 85vh;

}
.bravo {
  text-align: center;
  font-size: 12rem;
  color: black;
  padding-top: 3%;
  z-index: 1;
  font-family: 'Mystery Quest', cursive;

}
.points {
  font-size: 5rem;
  color: black;
  z-index: 1;
  text-align: center;
  font-family: 'Shadows Into Light Two', cursive;
}
.pig_img{
  margin-left: 5%;
  width: 350px;
  text-align: center;
}
.pig_div{
  z-index: 1;
  width: 45%;
  text-align: center;
}
.again{
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Shadows Into Light Two', cursive;
  color: white;
}
.cell {
  width: 70px;
  height: 70px;
}

.counter {
  font-weight: 900;
}

.pointer {
  font-weight: 900;
  text-align: right;
}

table {
  background-image: url(Background.png);
  background-size: cover;
  background-position: center;
}

.bomb {
  background-image: url("bomb.svg");
}

.pig.bomb {
  background-image: url("explosion.svg");
}

.coin {
  background-image: url("coin-zajebista.svg");
  background-size: cover;

}
.pig {
  background-image: url("piggy-bank.svg");
  background-size: cover;
}

.pig.coin {
  background-image: url("sukces.svg");
}

.explosion {
  background-image: url("explosion.svg");
}

.no-item {
  background: none;
}


@media screen and (max-width: 768px) {

  .border {
    padding: 0 20px 20px 20px;
  }

  .form-declaration {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .div1 {
    display: none;
  }

  .div2 {
    background-image: url("newsletter.jpg");
    background-size: cover;
    background-position: center;
    padding: 200px 0;
    width: 100%;
  }

  .border {
    background-color: rgba(201, 201, 201, 0.5);
    max-width: 80%;
    margin: auto;
    padding-top: 40px;
  }

  .control-label {
    font-size: larger;
  }
  .addiitional__form {
    flex-wrap: wrap;
  }
  .additional__items1{
    padding-bottom: 0;
  }
  .additional__items2{
    padding-top: 0;
  }
  .points {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 992px) {

  .pig_img{
    margin-left: 70%;
    width: 90%;
  }
  .again{
    margin-top: 5%;
  }
}

@media screen and (max-width: 768px) {

  .additional__items-func p {
    font-size: 2rem;
  }
  .item__icons-mod {
    width: calc(98px /2);
    max-height: calc(96px /2);
  }
  .addiitional__form__why h1 {
      font-size: 4rem;
  }
}

@media screen and (max-width: 450px) {

  .additional__items-func p {
    font-size: 1.5rem;
  }

  .addiitional__form__why h1 {
    font-size: 3rem;
  }
}
