*{
    box-sizing: border-box;
}
.zajawka-zaj{
    height: 100vh;
    width: 100%;
    background-image: url(zajawka.jpg);
    background-size: cover;


}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 250px;
    padding-left: 250px;


}
.obrazek{
    width: 200px;
    height: auto;
    margin-right: 0px;
    padding: 0px;
}
.nazwa-zaj{
    font-family: 'Roboto',sans-serif;
    font-size:150px;
    float:left;
    color: green;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.opis-zaj{
    font-family: 'Roboto',sans-serif;
    color: green;
    margin-top: 0px;
    margin-left:700px;
    padding-top: 10px;
}
.link{
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background-color: #85bb65;
    border-radius:5px;
    margin-left: 900px;
    line-height: 300px;
}